/* @import url(https://fonts.googleapis.com/css?family=Pacifico); */

body {
    background: #1c1c1c;
}

.header {
    padding: 20px;
    text-align: center;
    background-color: darkblue;
    color:white;
    font-size: 20px;
}

h1 {
    cursor: pointer;
    background-color: darkblue;
}

p {
    color: white;
}

@media screen (min-width: 320px) and (max-width: 640px) {
	width: 320px
}
